@page
<!DOCTYPE html>
<html>
<head>
    <title>Política de Privacidade - Bookshell</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>

<h1>Política de Privacidade do Bookshell</h1>
<p>Bem-vindo à Política de Privacidade do Bookshell. A sua privacidade é uma das nossas maiores preocupações e estamos empenhados em proteger as suas informações pessoais. Esta política descreve como coletamos, usamos, compartilhamos e protegemos as informações que você nos fornece ao usar os nossos serviços.</p>

<p>Leia atentamente esta política para compreender como suas informações pessoais são tratadas. Ao utilizar o Bookshell, você concorda com as práticas descritas nesta política de privacidade.</p>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               <strong>1. Informações Coletadas</strong> 
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Coletamos as seguintes informações pessoais:
                <ul>
                    <li>Informações de Cadastro: Quando você se inscreve no Bookshell, coletamos seu nome, endereço de e-mail, endereço de correspondência e informações de pagamento, como detalhes do cartão de crédito.</li>
                    <li>Preferências de Leitura: Para personalizar nossas recomendações de livros, podemos coletar informações sobre seus gêneros literários e autores favoritos.</li>
                    <li>Comunicação: Podemos coletar informações das mensagens e correspondências que você envia para nós, bem como suas interações com nosso suporte ao cliente.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>2. Uso das Informações</strong>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Utilizamos as informações pessoais coletadas para:
                <ul>
                    <li>Gerenciar sua assinatura e processar pagamentos.</li>
                    <li>Personalizar nossas recomendações de livros de acordo com suas preferências.</li>
                    <li>Melhorar nosso serviço e oferecer suporte ao cliente.</li>
                    <li>Comunicar novos recursos, ofertas e atualizações relevantes para você.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>3. Compartilhamento de Informações</strong>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Não vendemos, alugamos ou divulgamos suas informações pessoais a terceiros sem o seu consentimento, exceto quando necessário para cumprir com obrigações legais.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               <strong>4. Segurança de Dados</strong> 
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Tomamos medidas para proteger suas informações pessoais contra perda, acesso não autorizado e...
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <strong>5. Cookies e Tecnologias de Rastreamento</strong>
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Utilizamos cookies e tecnologias de rastreamento semelhantes para melhorar a experiência do usuário e coletar informações...
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <strong>6. Direitos de Acesso e Controle</strong> 
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Você tem o direito de acessar, corrigir e excluir suas informações pessoais. Se desejar exercer esses direitos ou tiver alguma dúvida...
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
               <strong>7. Menores de 13 anos</strong> 
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Nosso serviço não é destinado a crianças menores de 13 anos. Não coletamos intencionalmente informações de menores de idade.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <strong>8. Alterações na Política de Privacidade</strong>  
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Reservamo-nos o direito de atualizar esta Política de Privacidade periodicamente. Informaremos sobre quaisquer alterações significativas por meio de nosso site.
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</body>
</html>
